td {
    width: 33.3vw;
    height: 33.3vw;
    text-align: center;
    vertical-align: center;
    font-size: 28vw;
}

#shuf {
    margin-left: 44vw;
}

.common {
    height: 12vw;
    font-size: 10vw;
}